.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #e4dddd;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}
.toolbar-left {
  display: flex;
  align-items: center;   /* canh giữa theo chiều dọc */
  gap: 10px;             /* khoảng cách giữa select và p */
}

.toolbar-right {
  display: flex;
  align-items: center;   /* canh giữa theo chiều dọc */
  gap: 10px;             /* khoảng cách giữa select và p */
}

.toolbar select,
.toolbar input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.toolbar button {
  padding: 6px 12px;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #1d4ed8;
}
